:root {
  --color-main: #C9B7F4;
  --color-black: #333333;
}

.cta-button {
  background-color: #fff;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.cta-button:hover {
  background-color: var(--color-black);
  color: #fff;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 800px) {
   .button-group {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}