/*-- scss:defaults --*/
/*-- documentation: https://quarto.org/docs/output-formats/html-themes.html#dark-mode --*/
// Base document colors
$link-color: #3193C4;
$navbar-bg: #3193C4;

$code-color: black;